* {
font-family: Karla;
}

.navigation {
height: 100%;
width: 35%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #add8e6; /* Black */
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 20px;
display: table-cell;
text-align: justify;
}
.navigation a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 14px;
color: #818181;
display: block;
}

.navigation a:hover{
padding: 6px 8px 6px 16px;
text-decoration: none;

background-color: pink;
display: block;
}

.navigation p {
display: inline-block;
width: 100%;
}
.navigation h2{
font-size: 14pt;
padding-left: 5px;
}
#contact a{

vertical-align: bottom;
text-align: left;
font-size: 12pt;
padding: 5px
color: black;
}
#contact a:hover{
background-color: pink;
}

#contact p{

vertical-align: bottom;
text-align: left;
font-size: 12pt;
padding-left: 15%;
color: pink;
}

#contact p:hover{
background-color: black;
}


#wrapper{
text-align: justify;
}

#content {

left: 70%;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);

}
#insert {
padding: 20px;
}

#header h1{
font-size: 20pt;
text-align: center;
}
#header p{
text-align:center;

}
#header img{
height: 150px;
padding: 5px 10px 5px 20px;
display: block;
margin-left: auto;
margin-right: auto;


}

body {
background-color: pink;
}

@media screen and (max-width: 960px) {

#wrapper, #header, #content, .navigation {
float: left;
width:100%;

p{ font-size: 2em; }
}
}
